<mat-toolbar color="primary">
    <span>MyApp</span>
    <span class="spacer"></span>
    <a mat-button *ngIf="isLoggedIn()" routerLink="users">Users</a>
    <a mat-button *ngIf="isLoggedIn()" routerLink="photos">Photos</a>

    <ng-container *ngIf="!isLoggedIn(); else loggedInButtons">
        <a mat-button routerLink="login">Log In</a>
        <a mat-button routerLink="signup">Sign In</a>
    </ng-container>

    <ng-template #loggedInButtons>
        <!-- Add buttons for signed-in user here (e.g., logout) -->
        <a mat-button (click)="logout()">Log Out</a>
    </ng-template>
</mat-toolbar>
